* {
    margin: 0;
    border: 0;
    padding: 0;
}

.btn-container {
    background-color: blue;
    
}

#btnDwn, #btnUp {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

#num {
    background-color: red;
    width: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    display: flex;
    width: 80%;
    justify-content:center;
    margin: 300px auto;
}